<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS learning</title>

   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>&copy;This is site for Wolves&circledR;<sub>1</sub></h1>
<p class="paragraph1">There a lot of wolves near here</p>

<h2>Some more information&trade;<sub>2</sub></h2>
<p class="paragraph2">They live in <i>forests</i> </p>

<p class="paragraph3"> this is a italic text</p>

<h4 style="color: green; font-weight: lighter ; font-style: oblique" >
bu h4 text <b style="color: #7c0c0c">bo'ladi</b>
</h4>


<h3 class="lesson15">
    Lesson 15 learning css
</h3>


<img  class="image" src="image.jpg">


<p class="lesson16">First, I chat with my friend Laura who also types in all lowercase all the time. She’s truly dedicated to the effort. Then, Kaitlyn interviews The Verge’s copy editor Kara Verlaney about her thoughts on proper punctuation across the internet and all its forms. Finally, we interview linguist Lauren Collister about whether we’re just psychoanalyzing all of our typing habits for no reason, or if there’s real research around this topic. (Spoiler alert: there is!)</p>




</body>
</html>