<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    bu saytdagi yuqorida hosil bo'ladigan narsa-->
    <title>My first web page</title>
</head>
<body>

        <ul>
            <li>  <a href="#names">come on names</a> </li>
            <li>  <a href="#classes">come on classes</a> </li>
<!--            <li>  <a href="#horses">come on horses</a> </li>-->
        </ul>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p> come on names through link <a name="names"> birds names</a> </p>

        <ol>
            <li>Olimjon</li>
            <li>Doniyor</li>
            <li>Qayumbek</li>
        </ol>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>z
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p> come on names through link <a name="classes"> classes' names</a> </p>

        <ol>
            <li>2-sinf</li>
            <li>3-sinf</li>
            <li>4-sinf</li>
        </ol>













<!--outer link -->
<!--<p>Please click on this link :-->

<!--<a href="https://github.com/FranchiscoMike">It is my git hub link</a>-->

<!--</p>-->








<!-- creating table -->
<!--<table>-->
<!--    <tr>-->
<!--        <th>     sinf</th>-->
<!--        <th>     o'quvchilar soni</th>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td> 1-sinf</td>-->
<!--        <td> 20 ta</td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td> 6-sinf</td>-->
<!--        <td> 25 ta</td>-->
<!--    </tr>-->


<!--</table>-->


<!--<h3>Unordered list</h3>-->
<!--<ul>-->
<!--    <li>DVDs lar ro'yhati</li>-->
<!--    <li>Televizorlar ro'yhati</li>-->
<!--    <li>Telefonlar ro'yhati</li>-->
<!--    <li>Yaxshilar ro'yhati</li>-->
<!--</ul>-->

<!--<h3>Ordered list</h3>-->
<!--<ol>-->
<!--    <li>DVDs lar ro'yhati</li>-->
<!--    <li>Televizorlar ro'yhati</li>-->
<!--    <li>Telefonlar ro'yhati</li>-->
<!--    <li>Yaxshilar ro'yhati</li>-->
<!--</ol>-->


</body>
</html>